name: Send CVE to Target Repo

on: 
  workflow_dispatch:
    inputs:
      target_repo:
          description: "owner/repo"
          required: true
      cve_id:
          description: "CVE ID"
          required: true

jobs:
  dispatch:
    runs-on: ubuntu-latest

    steps:
      - name: Dispatch to target repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.TARGET_REPO_DISPATCH_TOKEN}}
          repository: ${{ github.event.inputs.target_repo}}
          event-type: ping_cve
          client-payload: |
              {
              "cve": "${{ github.event.inputs.cve_id }}",
              "branch": "report-bot"
              }